.dummyBackground
  width: 50%

.navbar .navbar-nav
    display: inline-block
    float: none
    vertical-align: top

.navbar, .navbar-collapse
  text-align: center

.login-close-text
  display none

.loginModal
  margin-top: 30%

.navbar-right
  margin-left: 200px

.logoutButton
  color: #777;
  position: relative;
  display: block;
  padding: 10px 15px;

.navbar-nav
  .logoutButton
    margin-top: 5px

.formSubBox
  padding-bottom: 50px
  input
  textfield
    margin-bottom: 20px
    width: 100%
  input[type="number"]
    -moz-appearance: textfield

.numberP
  border 1px solid lightgrey
  padding 5px
  text-align: center

.conText
  text-align: center
  resize: none
  width: 100%
  heigth: 15px
  outline: none

.tableHeader
  font-weight: bold
  &:hover
    background: inherit
.tableRow
  margin-bottom: 2px
  &:hover
    background #f1f1f1
  .cell
    border 2px solid black
    text-align: center
    padding: 5px

.transferComplete
  .title
    text-transform: uppercase
  padding-left: 110px
  margin-top: 30%
  border: 1px solid black
  font-size: 20px
  p:first-child
    padding-top: 10px